body{
    padding-top: 50px;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar color changes and hover changes */

.navbar-dark .navbar-brand{
    color: #e7a67c;
}

.navbar-dark .navbar-brand:hover{
    color: #f19354;
}

.navbar-dark .navbar-brand:focus{
    color: #f19354;
}

.navbar-dark .navbar-nav .nav-link{
    color: #e7a67c;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #f19354;
}


.navbar-dark .navbar-toggler{
    color: #e7a67c;
}

/* Content section padding */
.content-section{
    padding-top: 60px;
}

/* Gretting section */
#greeting{
    /* background image from https://codetheweb.blog/css-advanced-background-images/ */
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    }

/* Contact section background color change */
#contact{
    background-color: #e7a67c;
    min-height: 100vh;
}

h2{
   font-weight: 700;
   font-size: 40px;
}

/* Enter Portfolio btn color changes and hover changes */
a.btn.btn-xl.btn-dark.js-scroll-trigger.mt-4{
    color: #e7a67c;
}

a.btn.btn-xl.btn-dark.js-scroll-trigger.mt-4:hover{
    color: #f19354;
    background-color: #202428;
}

input.btn.btn-xl.btn-dark.js-scroll-trigger.mt-4{
    color: #e7a67c;
}

input.btn.btn-xl.btn-dark.js-scroll-trigger.mt-4:hover{
    color: #f19354;
    background-color: #202428;
}

/* Phone and email color change for contact page */
a.phoneEmail{
    color: black;
}

a.phoneEmail:hover{
    color: black;
    text-decoration: underline;
}

/* Hidden content until the submit button is pressed */
#hiddenContent{
    display: none;
    text-align: center;
}

/* Visible content until the submit button is pressed */
#visibleContent{
    text-align: center;
}


/* Footer content color changes and hover changes and backgorund color change */

footer{
    background-color: #343a40;
}

a{
    color: #e7a67c;
}

a:hover{
    color: #f19354;
    text-decoration: none;
}

#copyright{
    color: #e7a67c;
    background-color: #202428;
}




